<!-- Breadcrumb-->
<div class="row pt-2 pb-2">
  <div class="col-sm-9">
    <h4 class="page-title">Statements</h4>
  </div>
  <div class="col-sm-3">
    <div ngbDropdown class="btn-group float-sm-right">
      <button type="button" class="btn btn-outline-danger"><i class="fa fa-cog mr-1"></i> Actions</button>
      <button type="button" class="btn btn-danger" id="dropdownBasic5" ngbDropdownToggle> <span class="caret"></span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic5">
        <a href="javaScript:;" ngbDropdownItem>Action</a>
        <a href="javaScript:;" ngbDropdownItem>Another action</a>
        <a href="javaScript:;" ngbDropdownItem>Something else here</a>
        <div class="dropdown-divider"></div>
        <a href="javaScript:;" ngbDropdownItem>Separated link</a>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb-->
<!--Paging dataTable starts-->
<div class="row">
  <div class="col-sm-12 mb-4">
    <div class="card">
      <div class="card-header text-uppercase">
        <div class="row">
          <div class="col-12 col-lg-12 col-xl-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search By Name, Id Number, Property Number" />
              <div class="input-group-append"> <span class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="card-body">
        <ngx-datatable class="material" [rows]="data" [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
          [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
          <ng-container *ngFor='let column of columns'>
            <ngx-datatable-column *ngIf='column.name === "Actions"' name="Actions" prop="actions">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <a href="javascript: void(0);" [routerLink]="['/statements','36598210-e7d3-40ed-b3d1-4c954927e0f2' ]"
                  routerLinkActive="active"><i class="fa fa-eye font-size-18 text-primary"></i></a>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column *ngIf='column.name === "Date"' name="{{column.name}}" prop="{{column.prop}}">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                {{value | date: 'dd/MM/yyyy'}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column *ngIf='column.name === "Status"' name="{{column.name}}" prop="{{column.prop}}">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <span class="badge badge-danger" *ngIf="value === 'Overdue' || value === 'Unpaid'">{{value}}</span>
                <span class="badge badge-success" *ngIf="value === 'Paid'">{{value}}
                </span>
                <span class="badge badge-secondary" *ngIf="value === 'Pending'">{{value}}
                </span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
              *ngIf='column.name !== "Actions" && column.name !== "Date" && column.name !== "Status"'
              name="{{column.name}}" prop="{{column.prop}}">
            </ngx-datatable-column>
          </ng-container>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
<!--Paging dataTable starts-->
