/* You can add global styles to this file, and also import other style files */
.content-height {
  min-height: calc(100vh - 120px) !important;
}

.ngx-datatable.material {
  box-shadow: none !important;
}

.cursor-pointer {
  cursor: pointer;
}
